[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telepot = "*"
asyncio = "3.4.3"
emoji = "0.5.1"
argparse = "1.4.0"
mysql = "0.0.2"
discord = "0.16.12"

[requires]
python_version = "3.7"

[scripts]
dev = "python3 main.py"
prod = "python3 main.py"
